{% extends 'products/base.html' %}
{% load static %}
{% block title %} Produits | Vialys {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/marque_style.css' %}">
{% endblock %}


{% block content %}
<section
    class="page-header page-header-modern page-header-background "
    style="background-image: url('{% static 'images/9245@1x.png' %}'); background-position: center; background-size: cover;margin-top: 39px ;height: 550px;margin-top: 50px ;width: 100% !important;">
</section>
<div class="row justify-content-center text-center mb-4">
    <div class="col-lg-8">
        <p class="opacity-9 text-4">PRODUITS</p>
        <h2 class="font-weight-bold mb-3 mt-3 text-10">NOS MARQUES</h2>
        <p class="opacity-9 text-4">Pour un résultat, élaboré et riche en saveur les produits Al Moumtaza sont une
            réponse à toutes les exigences de la boulangerie. Avec les produits de la gamme Yama, vous pourrez
            développer votre créativité, et proposer à votre clientèle des produits de pâtisserie raffinés, innovants et
            savoureux.
        </p>
    </div>
</div>
<div class="container">
    {% for category in categories %}
    <div class="category-container">
        <h2 class="section-title">{{ category.name }}</h2>
        <div class="brands-container">
            {% for brand in category.brands.all %}
            <div class="brand-card-wrapper">
                <div class="brand-card">
                    {% if brand.image %}
                    <img src="{{ brand.image.url }}" class="brand-logo" alt="{{ brand.name }}">
                    {% endif %}
                    <a href="{% url 'product-list' %}?brand={{ brand.id }}&category={{ category.id }}" class="view-range-btn">
                        VOIR LA GAMME
                    </a>
                </div>
                <p class="brand-description">{{ brand.description }}</p>
            </div>
            {% empty %}
            <p>Aucune marque disponible pour cette catégorie.</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="position-relative">
    <img src="{% static 'images/image11.png' %}" loading="lazy" alt="Placeholder Image" class="img-fluid"
        style="width: 100%; height: 100%; object-fit: cover;">
</div>
{% endblock %}
